In [1]:
import baostock as bs
import pandas as pd

In [2]:
# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print(lg.error_code)
print(lg.error_msg)
# 详细指标参数，参见“历史行情指标参数”章节
rs = bs.query_history_k_data_plus("sz.001226",
    "date,code,open,high,low,close,volume,amount,adjustflag",
    start_date='2022-07-01', end_date='2025-06-18',
    frequency="d", adjustflag="3")
print(rs.error_code)
print(rs.error_msg)

login success!
0
success
0
success

In [3]:
# 获取具体的信息
result_list = []
while (rs.error_code == '0') & rs.next():
    # 分页查询，将每页信息合并在一起
    result_list.append(rs.get_row_data())
result = pd.DataFrame(result_list, columns=rs.fields)
result

,date,code,open,high,low,close,volume,amount,adjustflag
0,2022-07-01,sz.001226,42.2600,48.8400,42.2600,43.8200,8327429,366270163.1400,3
1,2022-07-04,sz.001226,42.2000,42.2800,39.8000,39.8300,6799212,277867178.3500,3
2,2022-07-05,sz.001226,39.4100,39.7700,38.2800,38.5000,5029012,195350636.9800,3
3,2022-07-06,sz.001226,38.4800,38.8000,37.3500,37.4200,3582453,136446938.7400,3
4,2022-07-07,sz.001226,37.4200,39.5400,36.8800,38.2000,4344166,165204545.8300,3
...,...,...,...,...,...,...,...,...,...
713,2025-06-12,sz.001226,27.3900,27.9400,27.1700,27.8400,1931600,52972237.0000,3
714,2025-06-13,sz.001226,27.6500,27.9400,27.1300,27.4000,1263300,34587935.0000,3
715,2025-06-16,sz.001226,27.3900,27.7600,27.1000,27.5400,1218800,33540008.5000,3
716,2025-06-17,sz.001226,27.5500,27.8000,27.1500,27.2200,1133814,31109142.8200,3
717,2025-06-18,sz.001226,26.8200,27.0700,26.6600,26.9000,790800,21213312.0000,3

### 尝试获取universe

In [4]:
# 获取上证50成分股
rs = bs.query_sz50_stocks()
print('query_sz50 error_code:'+rs.error_code)
print('query_sz50  error_msg:'+rs.error_msg)

# 打印结果集
sz50_stocks = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    sz50_stocks.append(rs.get_row_data())
result = pd.DataFrame(sz50_stocks, columns=rs.fields)
result

query_sz50 error_code:0
query_sz50  error_msg:success

    updateDate       code code_name
0   2025-06-16  sh.600028      中国石化
1   2025-06-16  sh.600030      中信证券
2   2025-06-16  sh.600031      三一重工
3   2025-06-16  sh.600036      招商银行
4   2025-06-16  sh.600048      保利发展
5   2025-06-16  sh.600050      中国联通
6   2025-06-16  sh.600150      中国船舶
7   2025-06-16  sh.600276      恒瑞医药
8   2025-06-16  sh.600309      万华化学
9   2025-06-16  sh.600406      国电南瑞
10  2025-06-16  sh.600519      贵州茅台
11  2025-06-16  sh.600690      海尔智家
12  2025-06-16  sh.600760      中航沈飞
13  2025-06-16  sh.600809      山西汾酒
14  2025-06-16  sh.600887      伊利股份
15  2025-06-16  sh.600900      长江电力
16  2025-06-16  sh.600941      中国移动
17  2025-06-16  sh.601012      隆基绿能
18  2025-06-16  sh.601088      中国神华
19  2025-06-16  sh.601127       赛力斯
20  2025-06-16  sh.601166      兴业银行
21  2025-06-16  sh.601211      国泰海通
22  2025-06-16  sh.601225      陕西煤业
23  2025-06-16  sh.601288      农业银行
24  2025-06-16  sh.601318      中国平安
25  2025-06-16  sh.601328      交通银行
26  2025-06-16  sh.601398      工商银行
27  2025-06-16  sh.601600      中国铝业
28  2025-06-16  sh.601601      中国太保
29  2025-06-16  sh.601628      中国人寿
30  2025-06-16  sh.601658      邮储银行
31  2025-06-16  sh.601668      中国建筑
32  2025-06-16  sh.601728      中国电信
33  2025-06-16  sh.601766      中国中车
34  2025-06-16  sh.601816      京沪高铁
35  2025-06-16  sh.601857      中国石油
36  2025-06-16  sh.601888      中国中免
37  2025-06-16  sh.601899      紫金矿业
38  2025-06-16  sh.601919      中远海控
39  2025-06-16  sh.601985      中国核电
40  2025-06-16  sh.601988      中国银行
41  2025-06-16  sh.603259      药明康德
42  2025-06-16  sh.603501      韦尔股份
43  2025-06-16  sh.603993      洛阳钼业
44  2025-06-16  sh.688008      澜起科技
45  2025-06-16  sh.688012      中微公司
46  2025-06-16  sh.688041      海光信息
47  2025-06-16  sh.688111      金山办公
48  2025-06-16  sh.688256       寒武纪
49  2025-06-16  sh.688981      中芯国际